<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Familia Borba</title>
    <script src="lib/angular/angular.min.js"></script>
</head>

<body ng-app="App">

    <script>
        var app = angular.module('App', []);

        app.controller('OsBorbasController', function OsBorbasController($scope) {

            $scope.osBorbas = [
                {
                    "nome": "Demian Borba",
                    "cargo": "(pai)"
                },
                {
                    "nome": "Ana Paula",
                    "cargo": "(esposa)"
                },
                {
                    "nome": "Bernardo",
                    "cargo": "(filho)"
                },
                {
                    "nome": "Tchopo e Tobby",
                    "cargo": "(cachorros)"
                },
                {
                    "nome": "Rita",
                    "cargo": "(avó)"
                },
                {
                    "nome": "Luiz",
                    "cargo": "(avô)"
                },
                {
                    "nome": "Derick",
                    "cargo": "(tio)"
                },
                {
                    "nome": "Livia",
                    "cargo": "(tia)"
                }
            ];
        });
    </script>


    <div ng-controller="OsBorbasController">

        <div ng-repeat="borba in osBorbas">
            <h1>{{borba.nome}} <em>{{borba.cargo}}</em></h1>
        </div>

    </div>

</body>

</html>

<!--<div ng-repeat="borba in osBorbas | orderBy:'nome'">-->
<!-- <input type="text" ng-model="search">-->
<!-- <div ng-repeat="borba in osBorbas | filter:search">-->